<app-navbar></app-navbar>
<div class="row ">
  <div class="d-flex justify-content-center">
    <button class="btn-info p-3" type="submit" (click)="SearchRide()"><strong> Avaialable Rides</strong> </button>
  </div>
</div>

<agm-map [latitude]= "Srclatitude" [longitude]= "Srclongitude" [zoom]="15" [mapTypeId]="'roadmap'">
  <agm-marker color = "Blue" [latitude]= "Srclatitude" [longitude]= "Srclongitude"   [label]= "$any('Src')"  [markerDraggable]= "true"
   (dragEnd) = "SrcDragEnd($event)" ></agm-marker>
   <agm-marker [latitude]= "Deslatitude" [longitude]= "Deslongitude" [label]= "$any('Des')"  [markerDraggable]= "true"
   (dragEnd) = "DesDragEnd($event)"></agm-marker>
</agm-map>




