<nav id="sidebar" >
  <h4 id="logo"><a  class="navbar-brand navbar-logo" href="#">ᑕᗩᖇ ᑭᗝᗝᒪIᑎᎶ</a></h4>
  <div class="p-4">
    <ul class="list-unstyled components mb-5">
      <li [routerLinkActive]= "['active']">
          <a ><span class="fa fa-bars mr-3"></span> About</a>
      </li>
      <li [routerLinkActive]= "['active']">
        <a   [routerLink]= "['/captain']"><span class="fa fa-car mr-3"></span>Offer Ride</a>
      </li>
      <li [routerLinkActive]= "['active']">
        <a [routerLink]="['/rides']"><span class="fa fa-road mr-3"></span> My Rides</a>
      </li>
      <li [routerLinkActive]= "['active']">
        <a [routerLink]="['/routes']"><span class="dw dw-route mr-3"></span> Routes</a>
      </li>
      <li>
        <a ><span class="fa fa-cogs mr-3"></span> Settings</a>
      </li>
      <li [routerLinkActive]= "['active']">
        <a  routerLink="/login"><span class="fa fa-sign-out mr-3"></span> LogOut</a>
      </li>
    </ul>

  </div>
</nav>
<!-- <button style="position: absolute ; top:0;left:0;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->

