.navbar-logo{
  min-width: 270px;
  max-width: 270px;
	color: #fff;
  background: linear-gradient(to right, #005c7a 57%, #279c9a 112%);
  font-size: 25px;
  padding: 13px;
  display: flex;
  justify-content: center;
}
#logo {
  justify-items: center;
  margin-left: 0px;
}
.button__badge {
  background-color: #ff4141;
    border-radius: 22px;
    color: #ffffff;
    padding: 1px 8px;
    font-size: 12px;
    position: absolute;
    margin-left: 55px;
}
