<app-navbar></app-navbar>
<div class="wrapper d-flex align-items-stretch">
  <app-csidebar></app-csidebar>

    <!-- Page Content  -->
  <div id="content" class="p-4">
    <div class="card-box mb-30">
      <div class="pd-20">
        <h4 class="title">My Bookings</h4>
      </div>
      <div class="pb-20">
        <table id="datatable" class="data-table table stripe hover nowrap"  data-toggle="data-table">
          <thead>
            <tr>
              <th class="table-plus datatable-nosort">Driver Name</th>
              <th>Registration No</th>
              <th>Car</th>
              <th>Book Seats</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of list">
              <td>{{i.firstname+" "+i.lastname}}</td>
              <td>{{i.regno}}</td>
              <td>{{i.model}}</td>
              <td>{{i.seats}}</td>
              <td>
                <h6 class="text-success" *ngIf="i.status==1">Completed</h6>
                <button class="btn btn-danger" (click)="Cancelbooking(i)" *ngIf="i.status==0">cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

