
		<div class="wrapper d-flex align-items-stretch">
			<app-csidebar></app-csidebar>

        <!-- Page Content  -->
      <div id="content" class="p-1" *ngIf="showMainContent">
        <div class="row d-flex justify-content-center">
            <div class="p-3 d-flex justify-content-center">
              <h2>Mark Your Sourse & Destination</h2>
            </div>
            <agm-map class="col-md-9 col-sm-12"
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [zoomControl]="false"
                (mapClick)="mapClicked($event)"
              >
                <agm-marker
                  *ngFor="let m of markers; let i = index"
                  [iconUrl]="m.iconUrl"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [label]="m.label"
                  [markerDraggable]="m.draggable"
                  (dragEnd)="markerDragEnd(m, $event)"
                >
                </agm-marker>
              </agm-map>
          <form class="form p-3 mt-3">
            <div class="row d-flex justify-content-center">
              <div class="form-group col-md-3">
                <label>Trip Type: </label>
                <select class="form-control" name="type"  (change)="changetype($event)" style="width: 100%; height: 38px;" [(ngModel)]="type">
                    <option value="Once">Once</option>
                    <option value="Daily">Daily</option>
                </select>
              </div>
              <div class="form-group col-md-3 ml-md-3" *ngIf="showDate" >
                <label class="col-sm-12 col-md-4 col-form-label">Date</label>
                <div class="col-sm-12 col-md-12">
                  <input class="form-control date-picker" [(ngModel)]="Date" name="Date" placeholder=" Select Date" type="datetime-local" min="{{time}}" required>
                </div>
              </div>
              <!-- <div class="form-group col-md-3 ml-md-3">
                <label>Travelling Time</label> &nbsp;
                <input class="form-control" type="time" placeholder="time" [(ngModel)]="time" name="tme" >
              </div> -->
            </div>

            <div class="form-row mt-2" *ngIf="showDays">
              <label class="font-weight-bold">Days</label>
              <div class="custom-control custom-checkbox ml-5" >
                <input type="checkbox"  name="Mon" [(ngModel)]="Mon" class="custom-control-input" id="M" checked>
                <label class="custom-control-label" for="M">Mon</label>
              </div>
              <div class="custom-control custom-checkbox ml-5">
                <input type="checkbox"  name="Tue" [(ngModel)]="Tue"  class="custom-control-input" id="Tu" checked>
                <label class="custom-control-label" for="Tu">Tue</label>
              </div>
              <div class="custom-control custom-checkbox ml-5">
                <input type="checkbox"  name="Wed" [(ngModel)]="Wed" class="custom-control-input" id="W" checked>
                <label class="custom-control-label" for="W">Wed</label>
              </div>
              <div class="custom-control custom-checkbox ml-5">
                <input type="checkbox" name="Thu" [(ngModel)]="Thu" class="custom-control-input" id="Th" checked>
                <label class="custom-control-label " for="Th">Thu</label>
              </div>
              <div class="custom-control custom-checkbox  ml-5">
                <input type="checkbox" name="Fri" [(ngModel)]="Fri" class="custom-control-input" id="F" checked>
                <label class=" custom-control-label" for="F">Fri</label>
              </div>
              <div class="custom-control custom-checkbox ml-5">
                <input type="checkbox" name="Sat" [(ngModel)]="Sat" class="custom-control-input" id="Sat" checked>
                <label class=" custom-control-label" for="Sat">Sat</label>
              </div>
              <div class="custom-control custom-checkbox ml-5">
                <input type="checkbox" name="Sun" [(ngModel)]="Sun" class="custom-control-input" id="Sun" checked>
                <label class=" custom-control-label" for="Sun">Sun</label>
              </div>
            </div>
            <div class="form-row mt-4">

              <div class="form-group">
                <label>Total Seats</label>&nbsp; &nbsp;
                <div>
                 <button id="Btn" class="btn btn-danger" (click)="decrement()">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</button>
                  <span class="m-3">{{seats}}</span>
                  <button id="Btn" class="btn btn-success" (click)="increment()">&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>

            <div class="form-row mt-3 d-flex justify-content-center">
              <button type="submit" class="btn btn-dark btn-outline-light p-2" (click)="SearchRide()">Search Available Rides</button>
            </div>
          </form>
        </div>

      </div>
      <div id="content" class="p-md-3" *ngIf="!showMainContent">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 mb-30 mx-3" *ngFor="let i of driversdetails;let a=index">
						<div class="card card-box" >
							<img class="card-img-top  pl-5 pr-5" src={{i.image}} >
							<div class="card-body p-3">
								<h5 class="card-title weight-500">{{i.firstname+" "+i.lastname}}</h5>
								<p class="card-text"> {{vehicledetails[a].model}} &nbsp; seats:{{seatsArray[a]}}</p>
								<p class="text-success m-1">Time: {{exp_time[a]}}</p>
                <a class="btn btn-block text-white btn-primary p-2" (click)="Book(i,vehicledetails[a],bookings[a])">Book</a>
							</div>
						</div>
					</div>
        </div>
        <div class="row d-flex justify-content-start">
          <a class="btn btn-block btn-danger text-white p-2 m-5" (click)="Cancel()">Cancel</a>
        </div>
      </div>
