h3{
  color: white;
}
.login-header {
  position: relative;
  height: 60px;
  padding: 0 15px;
  background: linear-gradient(to right, #005c7a 57%, #279c9a 112%);
  z-index: 1;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
}
.noti{
  display: block;
}
.button__badge {
  background-color: #ff4141;
    border-radius: 22px;
    color: #ffffff;
    padding: 0px 5px;
    font-size: 10px;
    position: absolute;
    margin-left: -53px;
    margin-top: -5px;
}
.dw {
  color: white;
  font: 400;
}
.dropdown-menu {

  min-width: 25rem;
  max-width: 25rem;
  padding: 1rem 0;
  margin: 1.125rem 0 0;
  font-size: 1rem;
}
