<div class="wrapper d-flex align-items-stretch">
  <app-sidebar></app-sidebar>
    <!-- Page Content  -->
  <div id="content" class="p-5" >
    <div class="row mb-3">
      <div class=" col-md-12 d-flex justify-content-center">
        <h3>Offered Rides</h3>
      </div>
    </div>
    <div class=" row d-flex justify-content-center">
      <div class="card card-box col-md-10 mb-2" *ngFor="let i of list">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">

              <p>{{i.source}}</p>
              <p>to</p>
              <p>{{i.destination}}</p>
            </div>
            <div class="col-md-2">
              <p>Seats</p>
              <p>{{i.seats_offer}}</p>
            </div>
            <div class="col-md-2">
              <p>Start Time</p>
              <p>{{i.s_time}}</p>
            </div>
            <div class="col-md-2">
              <p>Date</p>
              <p>{{i.date}}</p>
            </div>
            <div class="col-md-2 ">
              <button class="btn btn-sm btn-success " >Start</button><br>
              <button class="btn btn-sm btn-danger mt-1" (click)="Cancel(i.id)">Cancel</button><br>
              <button class="btn btn-sm btn-info mt-1">Complete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
