
 <body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a >
					<h3 class="text-white">ᑕᗩᖇ ᑭᗝᗝᒪIᑎᎶ</h3>
				</a>
			</div>
			<!-- <div class="login-menu">
				<ul>
					<li><a routerLink="/">Register</a></li>
				</ul>
			</div> -->
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 col-lg-5 ">
					<img src="../../assets/vendors/images/abc.jpg" alt="">
				</div>
				<div class="col-md-8 col-lg-7">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Login To App</h2>
						</div>
						<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
							<div class="input-group custom">
								<input type="text" class="form-control form-control-lg" formControlName="phone" placeholder="Phone Number" [ngClass]= "{ 'is-invalid': submitted && f.phone.errors }">
								<div *ngIf= "submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf= "f.phone.errors.required">PhoneNo is required</div>
                </div>
                <!-- <div class="input-group-append custom">
									<span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
								</div> -->
							</div>
							<div class="input-group custom">
								<input type="password" class="form-control form-control-lg" formControlName="password" placeholder="**********"  [ngClass]= "{ 'is-invalid': submitted && f.password.errors }">
								<div *ngIf= "submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf= "f.password.errors.required">Password is required</div>
                </div>
                <!-- <div class="input-group-append custom">
									<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
								</div> -->
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
										<!--
											use code for form submit
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
										-->
                    <button type="submit"class="btn btn-primary btn-lg btn-block" >Sign In</button>
									</div>
									<!-- <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
									<div class="input-group mb-0">
										<a class="btn btn-outline-primary btn-lg btn-block" routerLink="/signup">Register To Create Account</a>
									</div> -->
								</div>
							</div>
              <div class="row pb-30">

								<div class="col-6">
									<div class="d-flex"><p>Don't Have Account ?<p><a routerLink="/"> Register </a></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
