
<jw-modal id="custom-modal-1" style="height: 300px; border-radius: 15px; background: white;">
  <div class="row d-flex justify-content-end pr-md-3 mb-1">
    <button class="btn border-5" (click)="closeModal('custom-modal-1');"><i class="fa fa-times"></i></button>
  </div>
  <div class="row d-flex justify-content-center" style="width: 350px; height: 350px; ">
    <div >
      <form class="rating">
        <label>
          <input type="radio" name="stars" value="1" />
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="2" />
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="3" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="4" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" value="5" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
      </form>
    </div>
  </div>
</jw-modal>
