/* form{
  margin: 2px;
  width: 60%;
  padding: 25px;
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(8, 8, 8, 0.521);
  border-radius: 5px;
}
.form-control {
  font-family: "Poppins-Regular";
  border:1px solid rgb(114, 113, 113);
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  margin-bottom: 10px;
}
 */

