<div class="wrapper d-flex align-items-stretch">
  <app-sidebar></app-sidebar>
    <!-- Page Content  -->
  <div id="content" class="p-5" >
    <div class="row mb-3">
      <div class=" col-md-12 d-flex justify-content-center">
        <h3>Current Routes</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-end mr-md-5 mb-3 pr-md-5">
      <button class="btn btn-primary p-2 border-2" routerLink="/addroute"><i class="fa fa-plus"></i> Add New Route</button>
    </div>
    <div class=" row d-flex justify-content-center">
      <div class="card card-box col-md-10 mb-2" *ngFor="let i of list">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 colsm-6">
              <h5>{{i.source}}    to   {{i.destination}}</h5>
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm btn-info" (click)="openModal('custom-modal-1',i.mappoints)"><i class="icon-copy fa fa-eye"></i></button>
              <button class="btn btn-sm btn-info ml-1" (click)="Delete(i.id)"><i class="icon-copy fa fa-trash"></i></button>
            </div>
            <div class="col-md-2 col-sm-4 d-flex justify-content-end">
              <label class="switch" >
                <input  type="checkbox" id="togBtn" (change)="function($event,i.id)"  [checked]="i.status">
                <div class="slider round">
                 <!--ADDED HTML -->
                 <span class="on" >Active</span>
                 <span class="off" >Inactive</span>
                 <!--END-->
                </div>
               </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jw-modal id="custom-modal-1" style="height: 400px;">
  <div class="row d-flex justify-content-end pr-md-3 mb-1">
    <button class="btn border-5" (click)="closeModal('custom-modal-1');"><i class="fa fa-times fa-2x"></i></button>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <agm-map  style="width: 800px; height: 400px;" [zoom]= "12" [latitude]= "latitude" [longitude]= "longitude">
        <agm-marker *ngFor="let item of points let i=index " [latitude]=item.lat [longitude]=item.lng [iconUrl]=item.iconUrl >
          <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
            <agm-polyline-point
            *ngFor="let p of points;"
            [latitude]=p.lat
            [longitude]=p.lng></agm-polyline-point>
          </agm-polyline>
        </agm-marker>
      </agm-map>
    </div>
  </div>

</jw-modal>

